* {
  font-family: 'Lato', cursive;
}

#news-bootstrap-menu.navbar-default .navbar-brand {
    color: #fff;
}

#news-bootstrap-menu.navbar-default {
	font-family: 'Poiret One', cursive;
    background-color: #000 ;
    border-bottom-width: 3px;
    border-bottom-color:#fff;
    margin-bottom:0px;
}
#news-bootstrap-menu.navbar-default .navbar-nav>li>a {
	font-size: 33px;
  color: #fff;
  background-color: #000;    transition:0.5s linear;
}

#news-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#news-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #000;
}

#news-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#news-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#news-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: #000;
    background-color: #fff;
}

#news-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #000000;
}

#news-bootstrap-menu.navbar-default .navbar-toggle:hover,
#news-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}

#news-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}

#news-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#news-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

.btn-circle {
  background-image:url("../img/magnif.png");
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #000000;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.section-white {
  background-color: #000;
  color: #fff;
}

.foot {
	border-top:3px solid #fff;
	width:100%;
	background-color:#000;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.inn {
	background-color:#FFF;
	color:#000;
	margin:0;
	padding:10px 20px;
	display:block;
}

.topic {
	background-color:#ffffff;
}

.text-content {
	color:#000000;
	margin:20px 20px;
}

.butn {
	text-align:center;
	text-decoration:none;
	background-color:#FFF;
	padding:10px;
	border-radius:15px;
	color:#ffffff ;
	transition:0.5s linear;
	width:200px;
}

.butn:hover{
	box-shadow: 9px 6px 91px 25px #ffffff);
}

.pic {
	width:450px;
	height:450px;
	border:1px solid #FFF;
	border-radius:100%;
	margin-top:20px;
	margin-bottom:20px;
	cursor:pointer;
	transition:0.5s linear;
}

.title {
	margin-top:50px;
}

.space {
	margin-top:10px;
}

.foot img {
	border:1px solid #ffffff;
	border-radius:100%;
	width:100px;
	transition:0.5s linear;
	margin:20px auto;
}

.foot img:hover {
	box-shadow: 9px 6px 91px 25px rgba(108,104,112,1);
}

.foot hr {
	width:90%;
	margin:0 auto;
	color:#FFF;
}

.foot p {
	margin-top:15px;
	text-align:center;
	width:100%;
	font-family: 'Lato', cursive;
	color:#FFF;
	font-size:20px;
}
